header.header 
    .container-fluid 
        .btn-header 
        a.logo(href="./") 
            img(src="./img/assets/logo.png" att="logo") 
        .header-social 
            .header-social-icon 
                img(src="./img/assets/Bell_pin.svg" att="icon")
            .header-social-icon 
                img(src="./img/assets/human.svg" att="icon")