.header {
    position: relative;
    @include size(100%, var(--height-header));
    @include flex;
    @include position(fixed, 0, $z: 10);
    >.container {
        @include flex($justify: flex-end);
    }
    .logo {
        max-height: 48px;
        @include mid(false);
    }
    &-social {
        @include flex;
        gap: 10px;
        &-icon {
            cursor: pointer;
            @include size(32px);
            >img,
            svg {
                @include size;
            }
            .bell {
                &.active {
                    circle {
                        fill: $orange-cl;
                    }
                }
                circle {
                    fill: transparent;
                }
            }
        }
        .btn-header {
            margin-left: 40px;
        }
    }
    @include sm {
        &-social {
            gap: 24px;
        }
    }
}