//======================================================BOXED LAYOUT=======================================================
$container-max-width: 100%;
$container-width: 1010px;

/*GRID - media queries breakpoints*/

$xxs-min: 576px;
$xs-min: 768px;
$sm-min: 992px;
$md-min: 1200px;
$lg-min: 1600px;
$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
// colors 
$black-cl: #000;
$dark-cl: #202124;
$white-cl: #fff;
$grey-cl: rgb(199, 199, 199);
$blue-cl: #30c3ff;
$pink-cl: #ff385c;
$orange-cl :#FFA724;
$gradient-cl: linear-gradient(180deg, #df1cff 0%, #814bf6 50.55%, #00bcff 100%);
// timing transition 
$t: 0.5s;
$cubic: cubic-bezier(0.1, 0.2, 0.7, 1);
:root {
    // font-size & line-height heading
    --h1-fs: 6.4rem;
    --h1-lh: 7.2rem;
    --body-fs: 1.6rem;
    --body-lh: 2.4rem;
    // Genaral Variable
    --gap: 30px;
    --height-header: 128px;
    --pdss: 64px;
    --font: "m", Open Sans;
    @media (max-width: $md-max) {
        --width-navigation: 68px;
    }
    @media (max-width: $sm-max) {}
    @media (max-width: $xs-max) {}
    @media (max-width: $xxs-max) {
        --height-header: 64px;
        --gap: 15px;
        --h1-fs: 2.5rem;
        --h1-lh: 3.5rem;
    }
}