extends templates/layout

block content 
    main.home
        section.swiper.swiperHero
            .swiper-wrapper
                +heroSliderItem(`Welcome to <br> Skoolar` , 'Explore Now', 'background-image: url(./img/images/hero4.jpg)')
                +heroSliderItem(`Welcome to <br> Skoolotel` , 'Explore Now', 'background-image: url(./img/images/hero2.jpg)')
            .container 
                .swiper-pagination